.services {
	min-height: 60vh;
	background: white;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 1px;
} 
.services li {
	display: inline-block;
	margin: 5px; 
	padding: 10px;  
	width: 30%;
}
.services .text {
	width: 95%;
	margin: 0 auto 20px;
}
.services img {
	width: 70%;
}