.experts {
	background: #f8e9e6;
	min-height: 60vh;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 1px;
}
.experts .about_linets {
	left: 29%;
	margin: 4%;
	text-align: justify;
}	
.experts .social-icons {
	left: 50%;
}	
.experts .social-icons ul li {
	display: inline-block;
	margin: 5px 25px; 
}
.experts .experts-images {
	margin: 3% 10%;
}
.experts .experts-images img {
	height: auto;
	width: 200px;
}