.slider {
	padding-top: 60px;
}

.slide {
	height: 90vh;
    background-size: cover;
    background-position: center;
	//margin-top: 60px;
}

.slide-1 {
  background-image: url("../images/crazy_nails_4.jpg");
  }
  
.slide-2 {
  background-image: url("../images/crazy_nails_5.jpg");
  }
  
.slide-3 {
  background-image: url("../images/crazy_nails_6.jpg");
  }
  
.arrow-right {
	position: absolute;
	top: 50%;
	right: 6%;
}
.arrow-left {
	position: absolute;
	top: 50%;
	left: 6%;
}
.arrows {
	display: none;
}